.btn{
  display: inline-block;
  background: $blueGrad;
  color: #fff;
  text-transform: uppercase;
  border-radius: $radiusBtn;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  &:hover{
    background: $blueGradHover;
    color: #fff;
  }
  &-blue{
    color: $blue;
    background: #fff;
    border: 2px solid $blue;
    &:hover{
      background: $blueGradHover;
      color: #fff;
      border: 2px solid transparent;
    }
  }
  &-gray{
    background: transparent;
    border: 1px dashed #000;
    color: #000;
    &:hover{
      background: transparent;
      color: $blue;
      border: 1px dashed $blue;
    }
  }
}
@media screen and (max-width: 991px){
  .btn{
    font-weight: 600;
  }
}
@media screen and (max-width: 767px){
  .btn{
    font-size: 11px;
  }
}