.card {
  &__item {
    margin-bottom: 40px;
    display: block;
    position: relative;
    border: 5px solid $gray;
    // outline: 2px solid transparent;

    &:hover {
      // outline: 2px solid $blue;
      border: 5px solid $blue;
    }

  }

  &__img {
    padding: 40px;
    display: block;
  }

  &__plus {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 80px;
    padding: 25px 13px;
    text-align: center;
    border-radius: 50%;
    background: $blue;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    z-index: 100;
  }

  &__descr {
    background: $gray;
    padding: 30px 40px 40px;
  }
  &__availability{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding-left: 15px;
    margin-top: -5px;
  }
  &__name{
    display: block;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    &:hover{
      color: $blue;
    }
  }
  &__price{
    display: inline-block;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: -0.103636px;
    padding-bottom: 32px;
    & > span{
      padding-left: 18px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.103636px;
      text-decoration-line: line-through;
      opacity: .5;
    }
  }
  &__sale{
    padding-bottom: 32px;
    display: inline-block;
    text-align: end;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.103636px;
    font-weight: 700;
  }
  &__btn{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
  }
  &__next{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 44%;
    z-index: 10;
  }
  &__prev{
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 44%;
    z-index: 10;
    transform: rotate(180deg);
  }
  &__prev, &__next{
    &.swiper-button-disabled{
      display: none!important;
    }
  }

  &__links {
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    padding: 20px 0;
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-right: 100px;
        &:nth-last-child(1) {
          margin-right: 0;
        }
        a {
          font-weight: bold;
          font-size: 18px;
          padding: 0;
          color: #00000035;
          transition: 0.3s;
          &.active {
            color: #000;
          }
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  &__tabs {

  }
  &__tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    p {
      font-size: 14px;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        td {
          padding: 12px;
          border: 1px solid #C4C4C4;
          font-size: 14px;
          &:nth-child(1) {
            font-weight: 600;
          }
        }
      }
    }
    &.js-hit-tabs.active {
      display: flex;
      align-items: flex-start;
    }
    &-left {
      width: 50%;
      padding-right: 20px;
    }
    &-right {
      width: 50%;
      padding-left: 20px;
      
    }
  }

}

.card-section {
  padding-top: 40px !important;
  .title {
    margin-bottom: 40px;
    font-weight: 500;
  }
}

.card-block {
  margin-bottom: 40px;
 
  &__left {
    display: flex;
    align-items: flex-start;
  }
  
  .card {
    &-gallery {
      &__mini {
        overflow: hidden;   
        margin: 20px 0;
        height: calc(100% - (24px + 36px) * 2);
        &-wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 560px;
        }
        &-ar {
          &-t {
            padding: 0 0 20px 0;
          }
          &-b {
            padding: 20px 0 0 0;
          }
          &-t, &-b{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            span {
              display: flex;
            }
            path {
              fill: #00000030;
              transition: 0.3s;
              transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            &:hover {
              path {
                fill: #000;
              } 
            }
          }
        }
        .swiper {
          &-wrapper{
            height: 160px ;
          }
          &-slide {
            width: auto;
            height: 148px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            border: 0.5px solid #00000035;
            transition: 0.3s;
            cursor: pointer;
            img {
              height: auto;
            }
            &.active {
              border-color: #000;
            }
          }
          &-container-card-mini {
            height: 100%;
            padding-right: 1px;
          }
        }
        .card__img {
          padding: 20px;
        }
      }
      &__img {
        overflow: hidden;
        border: 0.5px solid #00000035;
        width: 560px;
        height: 560px;
        .card__img {
          padding: 0;
        }
        .swiper-container-card-gallery {
          height: 100%;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
        }
      }
    }

    &__rate  {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        cursor: pointer;
        &.active {
          path {
            fill: #0467FB;
          }
        }
        path {
          fill: #888888;
        }
      }
      &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
      &-reviews {
        display: flex;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        span {
          margin-right: 15px;
          display: inline-block;
        }
      }
    }
  
    &__code {
      font-size: 14px;
      margin-bottom: 15px;
    }
    &__avail {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }
    &__price {
      font-weight: normal;
      font-size: 28px;
      padding-bottom: 0;
      &-old {
        font-size: 20px;
        letter-spacing: -0.103636px;
        text-decoration-line: line-through;
        color: #00000050;
      }
      &-discount {
        font-weight: bold;
        font-size: 28px;
      }
      &-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        >div {
          margin-right: 18px;
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    &__btns {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      button {
        margin-right: 40px;
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
    &__text {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 15px;
    }
    &__delivery {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
      table {
        font-size: 14px;
        font-weight: normal;
        padding-top: 10px;
        max-width: 330px;
        tr {
          td {
            padding: 0 0 5px 0;
            &:nth-child(2n) {
              font-weight: bold;
            }
          }
        }
      }
    }
    &__payment {
      &-wrap {
        display: flex;
        align-items: center;
      }
      b {
        margin-bottom: 10px;
        display: inline-block;  
      }
      &-radio {
        margin-right: 58px;
        max-width: 130px;
        &:nth-last-child(1) {
          margin-right: 0;
        }
        &__top {
          display: flex;
          align-items: center;
          margin-bottom: 12px;
          .img {
            margin-right: 26px;
          }
        }
        &__bot {
          font-size: 12px;
        }
        input {
          &:checked + span::after{
            opacity: 1;            
          }
        }
        span {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid #000;
          display: inline-block;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: linear-gradient( 135deg , #005DA0 0%, #001F8B 100%);
            display: block;
            opacity: 0;
          }
        }
        label {
          cursor: pointer;
        }
      }
    }

   
  }
}


.recommend, .views{  
  padding: 80px 0 40px 0;

  .title {
    margin-bottom: 40px;
  }
  
  .swiper-container-card {
    padding: 0;
    width: 100%;
  }
}

.views {
  padding-bottom: 0;
}



@media screen and (max-width: 1399px){
  .card {
&__links{
  & > ul{
    display: flex;
    justify-content: space-between;
    & > li{
      margin-right: 0;
      & > a{
        font-size: 17px;
      }
    }
  }
}
    &__img {
      padding: 35px;
    }

    &__plus {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 76px;
      padding: 23px 13px;
      font-size: 22px;
    }

    &__descr {
      background: $gray;
      padding: 30px 20px;
    }
    &__name{
      font-size: 15px;
      line-height: 18px;
    }
    &__price{
      display: inline-block;
      font-size: 24px;
      & > span{
        padding-left: 14px;
        font-size: 16px;
      }
    }
    &__sale{
      font-size: 24px;
      line-height: 30px;
    }
    &__btn{
      height: 40px;
      width: 48%;
    }

  }
  .card-block .card-gallery__mini .card__img{
    padding: 15px;
  }
}
@media screen and (max-width: 1399px){
  .card {
&__links{
  & > ul{
    & > li{
      & > a{
        font-size: 16px;
      }
    }
  }
}
  }
}
@media screen and (max-width: 991px){
  .card {
    &__links{
      & > ul{
        & > li{
          & > a{
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
      }
  .card-block{
    &__right{
      padding: 60px 15px;
    }
  }
}
@media screen and (max-width: 767px){
  .card {
    &__links{
      padding: 0;
      & > ul{
        flex-wrap: wrap;
        justify-content: flex-start;
        & > li{
          padding: 15px 0;
          width: 33%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          & > a{
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
      }
    }
@media screen and (max-width: 575px){

  .card-block {
    
    .card {
      &__tab{
        & p{
          font-size: 12px;
          margin-bottom: 15px;
        }
      }
      &__delivery {
        table{
          font-size: 12px;
        }
      }
      &__text{
        font-size: 12px;
      }
      &__price{
        font-size: 18px;
        &-old{
          font-size: 16px;
        }
        &-discount{
          font-size: 18px;
        }
      }
      &-gallery {
       &__mini{
height: 100%;
       &-wrap{
         height: 420px;
       }
          .swiper {
            &-wrapper{
              height: 160px ;
            }
            &-slide {
              width: auto;
              height: 148px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0;
              border: none;
              transition: 0.3s;
              cursor: pointer;
              img {
                height: auto;
              }
              &.active {
                border-color: #000;
              }
            }
            &-container-card-mini {
              height: 100%;
            }
          }
          .card__img {
            padding: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 479px){
  .card {
    &__links{
      padding: 0;
      & > ul{
        flex-wrap: wrap;
        justify-content: flex-start;
        & > li{
          padding: 10px 0;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          & > a{
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
      }
    }
@media screen and (max-width: 399px){
  .card {
&__item{
  margin-bottom: 20px;
}
    &__img {
      padding: 25px;
    }

    &__plus {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 76px;
      padding: 23px 13px;
      font-size: 22px;
    }

    &__descr {
      background: $gray;
      padding: 30px 15px;
    }
    &__name{
      font-size: 13px;
      line-height: 15px;
    }
    &__price{
      display: inline-block;
      font-size: 16px;
      & > span{
        padding-left: 10px;
        font-size: 13px;
      }
    }
    &__sale{
      font-size: 16px;
      line-height: 25px;
    }
    &__btn{
      height: 40px;
      width: 48%;
    }

  }
}