.form-wrapper-header {
  display: flex;
  & > span {
    width: 100%;
    position: relative;
    &:first-child{
      width: calc(100% - 40px);
    }
    &:nth-child(2){
      width: 40px;
    }
  /*  &::before{
      content: url("../img/search.svg");
      display: block;
      position: absolute;
      top: 0px;
      right: 8px;
    }*/
    & > input {
      width: 100%;
      border-radius: 4px 0 0 4px;
      background: #F7F7F7;
      padding: 12px 14px;
      &::placeholder{
        font-size: 14px;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
     & > button{
      width: 100%;
      border-radius: 0 4px 4px 0;
      background: #F7F7F7;
      padding: 10px 14px 10px 0;
      height: 100%;
     }
  }
}
.form{

  &__input{
    background-color: #fff;
    border-radius: 4px;
    height: 60px;
    padding: 20px 32px;
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  line-height: 17px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 8px;
  top: 13px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: $blueGrad;
  display: block;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 8px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: $blueGrad;
  display: block;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
@media screen and (max-width: 1199px){
  .form{

    &-wrapper-header{
      padding: 10px 30px;
      background-color: $blue;
    }
  }
}
@media screen and (max-width: 991px){
  .form-wrapper-header {
    & > span {
      width: 100%;
      position: relative;
      &::before{
        content: url("../img/search.svg");
        display: block;
        position: absolute;
        top: 0px;
        right: 8px;
      }
      & > input {
        width: 100%;
        border-radius: 4px;
        background: #F7F7F7;
        padding: 12px 14px;
        &::placeholder{
          font-size: 13px;
        }
      }
    }
  }
  .form{

    &__input{
      height: 50px;
      padding: 15px;
    }
  }
}

