@media screen and (max-width: 991px){
    .hamburger-menu{
        position: fixed;
        top: 0;
        left: -1000%;
        width: 100%;
        max-width: 320px;
        background-color: $blue;
        border-right: 1px solid black;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        &.active{
            left: 0;
        }
    }
}