.wac-quantity{
    display: flex;
}
.wac-qty-button {
    display: flex!important;
    border-radius: 0 !important;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    background-color: transparent!important;
    text-decoration: none;
    font-weight: bold;
    font-size: 0;
    position: relative;
    width: 15px;
    align-items: center;
}
.wac-btn-sub{
    &::before{
        content: url('../img/basketarr.svg');
        position: relative;
        display: inline;
        margin-left: -4px;
    }
}
.wac-btn-inc{
    &::before{
        content: url('../img/basketarr.svg');
        position: relative;
        display: inline;
        margin-left: -4px;
        transform: rotate(180deg);
    }
}
.product-remove{
    display: flex!important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  .page-numbers{
      padding: 0;
      transition: 0.3s;
      font-size: 18px;
      font-weight: normal;
      min-width: 20px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      &.current{
          font-weight: 600;
          font-size: 20px;
      }
  }
}
#wpcf7-f1501-o1{
    p{
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        span{
            width: 48%;
        }
    }
}

@media screen and (max-width: 991px){
    #wpcf7-f1501-o1{
        width: 100%;
    }
}
@media screen and (max-width: 575px){
    #wpcf7-f1501-o1{
        p{
            flex-wrap: wrap;
            span{
                width: 100%;
            }
        }
    }
}
.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output,
.wpcf7 form.spam .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    display: none !important;
}

div.wpcf7 .ajax-loader {
    display: none !important;
}