.tags {
  padding: 50px 0;
  &__item {
    font-size: 12px;
    font-weight: 700;
    padding: 12.5px 14px;
    background: $gray;
    border-radius: $radiusBtn;
    margin: 0 20px 20px 0;
    &:hover{
      color: #fff;
      background: $blueGradHover;
    }
  }
  &__title{
    padding-bottom: 50px;
  }
  &__subtitle{
    margin-bottom: -20px;
  }
  &__next,&__next-2{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 44%;
    z-index: 10;
  }
  &__prev,&__prev-2{
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 44%;
    z-index: 10;
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 1399px){
  .tags {
    padding: 40px 0;
  }
}
@media screen and (max-width: 1199px){
  .tags {
    padding: 35px 0;
  }
}
@media screen and (max-width: 991px){
  .tags {
    padding: 30px 0;
    &__item {
      font-size: 11px;
      font-weight: 600;
      padding: 12px;
      margin: 0 15px 15px 0;
    }
  }
}
@media screen and (max-width: 767px){
  .tags {
    padding: 25px 0;
    &__item {
      font-size: 10px;
      font-weight: 600;
      padding: 11px;
    }
    &__title{
      padding-bottom: 30px;
    }
  }

}