$gray: #f3f3f3;
$blueGrad: linear-gradient(135deg, #005DA0 0%, #001F8B 100%);
$blueGradHover: linear-gradient(135deg, #0C83DA 0%, #0030D9 100%);
$blue: #0467FB;
$radiusBtn: 4px;
$transition4: .3s all;